@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    @apply h-full m-0 p-0 bg-gray-900;
  }
}

@layer utilities {
  @keyframes toast-in {
      from {
          opacity: 0;
          transform: translateX(100%);
      }
      to {
          opacity: 1;
          transform: translateX(0);
      }
  }
  .animate-toast-in {
      animation: toast-in 0.3s ease-out forwards;
  }
}
